@import url("https://fonts.googleapis.com/css?family=Open Sans");

:root {
  --black: rgb(0, 0, 0);
  --cyan: rgb(10, 216, 223);
  --green: rgb(21, 214, 21);

  --background-colour: var(--black);
  --text-colour: var(--cyan);
  --link-colour: var(--green);
}

body {
  font-family: "Open Sans";
  background-color: var(--background-colour);
  /* max-width: 90vw; */
  margin-inline: auto;
  text-transform: lowercase;
}

h1 {
  color: var(--text-colour);
  text-align: center;
  font-size: 5rem;
}

div {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
  margin: 2em;
}

span {
  font-family: "Open Sans";
  font-size: 4rem;
  background-color: transparent;
  color: var(--text-colour);
  padding: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  box-sizing: border-box;
  border-width: 2px;
  border-color: var(--text-colour);
  border-style: solid;
}

footer {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  margin-inline: auto;
  left: 0;
  right: 0;
  font-size: 3rem;

  a {
    text-decoration: none;
    color: var(--link-colour);
  }
}
